# Include poetry
export PATH="$HOME/.poetry/bin:$PATH"
export PATH=$PATH:$(pwd)/bin:/usr/local/bin:/usr/bin:/bin
# Setup a pyenv virtual environment with the Python we need
layout pyenv $PYENV_VERSION